{{ attach_library('custom_theme/front') }}
<div class="top_navigation">
    <ul class="links">
        <li>
            <a href="#">
                <i class="fab fa-facebook-square"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-flickr"></i>
            </a>
        </li>
    </ul>
    <button class="searchicon" id="searchicon">
        <i class="fas fa-search"></i>
    </button>
    <div class="secondary hide" id="secondary">
        {{ page.secondary_navigation }}
    </div>
    <div class="search">
        {{ page.search }}
    </div>
</div>
<div class="header" id="nav">
    <div class="site_branding">
        {{ page.site_branding }}
    </div>
    <div class="main_navigation">
        <button class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </button>
        {{ page.main_navigation }}
    </div>
    
</div>

<div class="about">
    {{ page.banner }}
</div>
<div class="main">
    <div class="content">
        <div class="sortcontent">
            <button class="listicon" id="listicon">
                <i class="fas fa-list"></i>
            </button>
            <button class="gridicon" id="gridicon">
                <i class="fas fa-th"></i>
            </button>
        </div>
        {{ page.content }}

    </div>

</div>
<div class="sidebar" id="sidebar">
    {{ page.sidebar }}
</div>
<div class="aboutus">
 <h1>About Us</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur reiciendis quam architecto animi cum perspiciatis porro, necessitatibus, laboriosam vitae provident earum modi molestias magnam, ullam doloribus ad quidem iusto. Harum nihil vel hic soluta laudantium consequatur vitae culpa, aut porro sint impedit? Modi quaerat voluptatum eum explicabo voluptas officia minima. Minima ducimus, necessitatibus ea perferendis adipisci, sint eaque voluptatem minus quod neque deserunt accusantium maiores. Quasi ipsam possimus magni. Aperiam amet culpa facilis beatae aliquam inventore animi nesciunt assumenda. Natus, placeat blanditiis repellat beatae ducimus esse officiis? Nihil alias blanditiis labore cumque consequatur tempore beatae, impedit, dignissimos natus illum repellat.
    </p>

</div>
<div class="featured">
    {{ page.featured }}

</div>

<div class="footer">
    <div class="footer1">
        {{ page.footer1 }}
    </div>
    <div class="footer1">
        {{ page.footer2 }}
    </div>
    <div class="footer1">
        {{ page.footer3 }}
    </div>
</div>
<div class="end">
    <p>
        Copyright
                                        
                                
                        
                
        <span>
            &#169;
                                                        
                                            
                                
                    
        </span>
        By Visual Select
                                    
                            
                    
            
    </p>
</div>
