
<div class = "top_navigation">
    {{page.secondary_navigation}}
</div>
<div class ="header">
    <div class = "site_branding">
        {{page.site_branding}}
    </div>
    <div class = "main_navigation">
        {{page.main_navigation}}
    </div>
    <div class = "search">
        {{page.search}}
    </div>
</div>

<div class ="featured">
    {{page.featured}}
</div>
<div class = "main">
    <div class="content">
        {{page.content}}
    </div>
    <div class="sidebar">
        {{page.sidebar}}
    </div>
</div>
<div class="footer">
    {{page.footer}}
</div>