
<div class = "top_navigation">
<ul class="links">
    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#"><i class="fab fa-github"></i></a></li>
    <li><a href="#"><i class="fab fa-flickr"></i></a></li>
</ul>
<button class="searchicon" id ="searchicon"><i class="fas fa-search"></i></button>
<div class="secondary hide" id="secondary">
    {{page.secondary_navigation}}
</div>
</div>
<div class ="header" id="nav">
    <div class = "site_branding">
        {{page.site_branding}}
    </div>
    <div class = "main_navigation">
        {{page.main_navigation}}
    </div>
    <div class = "search">
        {{page.search}}
    </div>
</div>
<div class ="about">
    {{ page.banner }}
</div>
<div class = "main">
    <div class="content">
        {{page.content}}
    </div>
   
</div>
<div class ="featured">
    {{page.featured}}
    {{page.sidebar}}
</div>

<div class="footer">
    <div class="footer1">
    {{page.footer1}} 
    </div>
    <div class="footer1">
    {{page.footer2}}
    </div>
    <div class="footer1"> 
    {{page.footer3}}
    </div>
</div>
<div class="end">
  <p> Copyright<span>&#169;</span> By Visual Select</p>
</div>